/* Start Clients Section */
.clients-section {

    & .clients-items {
        gap: 15px;
        border-radius: 15px;
        padding: 15px var(--main-inline-padding) 50px;
        background-color: var(--blog-show-background-color);

        & .client {
            max-height: 150px;
            border-radius: 15px;
            background-color: var(--light-color);
            overflow: hidden;
            position: relative;
            z-index: 0;

            & img {
                padding: 10px;
                object-fit: contain;
            }

            &::after {
                content: "";
                width: 100%;
                height: 200%;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                background: linear-gradient(90deg, transparent 0%, var(--light-color) 50%, transparent 100%);
                transform: translateX(-100%) translateY(-100%) rotate(45deg);
                pointer-events: none;
            }

            &:hover::after {
                animation: shineLogo 2s ease-in-out forwards;
            }

            &:hover {
                transform: translateY(-2px) scale(1.01);
                transition: 0.2s ease;
            }
        }
    }
}

.clients-carousel {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-muted-color);
}

.carousel-row {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 200px;
        height: 100px;
        position: absolute;
        z-index: 2;
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }
}

.our-clients-wrapper.left {
    animation: scrollInfiniteLeft 150s linear infinite;
}

.our-clients-wrapper.right {
    animation: scrollInfiniteRight 60s linear infinite;
}

.our-clients-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    will-change: transform;

    & .client {
        width: auto;
        min-width: 250px;
        max-height: auto;
        border-radius: 15px;
        background-color: var(--light-color);
        border: 1px solid var(--light-muted-color);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            object-fit: contain;
            padding: 10px;
            width: 100px;
            height: 100px;
        }

        &:hover {
            transform: scale(1.05);
            transition: 0.3s ease;
        }
    }
}

@keyframes scrollInfiniteLeft {
    0% {
        transform: translateX(calc(90%));
    }

    100% {
        transform: translateX(calc(-50%));
    }
}

@keyframes scrollInfiniteRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(50%));
    }
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@media (max-width: 425px) {
    .clients-section {
        padding-bottom: 0;

        & .clients-items {
            gap: 10px;
            padding: 10px;
            border-radius: 10px;

            & .client {
                border-radius: 10px;
            }
        }
    }

    .carousel-row {

        &::before,
        &::after {
            width: 40px;
        }
    }

    .our-clients-wrapper {
        & .client {
            min-width: 100px;
            border-radius: 10px;

            & img {
                width: 100px;
                height: 60px;
            }
        }
    }
}

/* End Clients Section */