.partners-section {
    padding: 50px var(--main-inline-padding);
    background-color: var(--light-background-color);

    &>.title {
        font-size: 30px;

        & .title-badge {
            padding: 1px 15px;
        }
    }

    & .our-partners-wrapper {
        gap: 20px;
        display: flex;
        padding: 20px;
        flex-wrap: nowrap;
        border-radius: 15px;
        background-color: var(--light-color);
        border: 1px solid var(--dark-muted-color);

        & .partner {
            width: calc(100% / 6);
            height: 150px;
            display: flex;
            padding: 20px;
            cursor: pointer;
            align-items: center;
            border-radius: inherit;
            justify-content: center;
            background-color: var(--light-color);
            border: 1px solid var(--dark-muted-color);
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 2px 5px 0px var(--light-muted-color),
                    0 0 1px 1px var(--light-main-color);
            }

            & a {
                max-height: fit-content;
            }

            & img {
                max-width: 100%;
                max-height: 80px;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 992px) {
    .partners-section {
        & .our-partners-wrapper {
            gap: 20px;
            flex-wrap: wrap;

            & .partner {
                width: calc(calc(100% - 40px) / 3);
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .partners-section {
        & .our-partners-wrapper {
            gap: 10px;
            display: grid;
            padding: 10px;
            grid-template-columns: repeat(2, 1fr);

            & .partner {
                width: 100%;
            }
        }
    }
}

@media (max-width: 425px) {
    .partners-section {
        &>.title {
            font-size: 20px;
        }
    }
}