.partners-section {
    padding-bottom: 50px;
    background-color: var(--light-background-color);

    & .our-partners-wrapper {
        gap: 20px;
        display: flex;
        flex-wrap: nowrap;
        padding: 20px;
        border-radius: 15px;
        background-color: var(--light-color);
        border: 1px solid var(--dark-muted-color);

        & .partner {
            width: calc(100% / 6);
            height: 150px;
            display: flex;
            padding: 20px;
            cursor: pointer;
            align-items: center;
            border-radius: inherit;
            justify-content: center;
            background-color: var(--light-color);
            border: 1px solid var(--dark-muted-color);
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 2px 5px 0px var(--light-muted-color),
                    0 0 1px 1px var(--light-main-color);
            }

            & a {
                max-height: fit-content;
            }

            & img {
                max-width: 100%;
                max-height: 80px;
                object-fit: contain;
            }
        }
    }
}