/* Start Services Section */
.services-section,
.reviews-section {

    & .our-services-wrapper,
    & .our-reviews-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 20px 0;
    }
}

.services-section {
    & .our-services {
        display: flex;
        gap: 30px;
        cursor: grab;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    & .our-services.dragging {
        cursor: grabbing;
    }

    & .service-item {
        /* min-width: 300px; */
        width: auto;
        flex-shrink: 0;
        gap: 10px;
        background: var(--main-card);
        border-radius: 20px;
        margin-bottom: 50px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        border: 1px solid var(--dark-muted-color);
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
    }

    & .service-image {
        position: relative;
        width: 100%;
        height: 130px;
        max-height: 130px;
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0;
            background: linear-gradient(135deg,
                    transparent 0%,
                    var(--dark-muted-color) 50%,
                    transparent 100%);
            transform: translateX(-150%) translateY(-150%);
            pointer-events: none;
        }
    }

    & .service-image img {
        object-fit: cover;
        pointer-events: none;
    }

    & .service-item:hover .service-image>img {
        transform: scale(1.05);
        transition: all 0.3s ease;
    }

    & .service-item:hover .service-image::after {
        animation: shine 0.5s ease-in-out forwards;
    }

    & .service-text {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: relative;
        padding-top: 15px;
    }

    & .service-text .icon {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -50px;
        left: 50%;
        display: flex;
        font-size: 24px;
        padding: 7px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: var(--light-color);
        transform: translateX(-50%);
        z-index: 100;

        &::before {
            content: "";
            position: absolute;
            width: calc(100% + 9px);
            height: calc(100% + 9px);
            border-radius: inherit;
            opacity: 0.3;
            top: 50%;
            left: 50%;
            z-index: -2;
            background-color: var(--main-color);
            transform: translate(-50%, -50%);
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            opacity: 1;
            top: 50%;
            left: 50%;
            z-index: -1;
            background-color: var(--light-color);
            transform: translate(-50%, -50%);
        }
    }

    & .service-title {
        font-size: 14px;
        color: var(--main-text);
    }

    & .service-description {
        width: 90%;
        height: fit-content;
        min-height: 65px;
        margin: 0 auto;
        font-size: 10px;
        line-height: 1.6;
        color: var(--muted-color);
    }

    & .service-action {
        width: 100%;
        font-size: 10px;
        padding: 10px;
        border-top: 1px solid var(--dark-muted-color);
        margin-top: auto;
    }

    & .service-action button {
        width: fit-content;
        padding: 6px 10px;
        border-radius: 6px;
        color: var(--dark-color);
        background-color: var(--dark-muted-color);
        border: 1px solid var(--light-muted-color);
    }

    & .service-action a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: inherit;
        text-decoration: none;
    }

    & .service-action .icon {
        color: var(--primary-color);
    }
}

@keyframes shine {
    0% {
        transform: translateX(-150%) translateY(-150%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(150%) translateY(150%);
        opacity: 0;
    }
}

/* End Services Section */