:root {
    --main-color: #d05423;
    --orange-color: #F4B42A;
    --primary-color: #3B88C3;
    --blue-color: #1d55ed;
    --purple-color: #6e2d9f;
    --light-main-color: #F97316;
    --light-color: #ffffff;
    --dark-color: #000000;
    --dark2-color: #242424;
    --main-bg: #111827;
    --main-card: #ffffff;
    --main-text: #111827;
    --bg-text: #2E3A3F;
    --muted-color: #6b7280;
    --light-muted-color: #cfd1d3;
    --dark-muted-color: #eae8e8;
    --muted-background-color: #F3F3F3;
    --light-background-color: #FFFCFC;
    --articles-background-color: #F9F9F9;
    --blog-show-background-color: #F4F4F4;
    --order-background-color: #EAF5F8;
    --projects-steps-background-color: #f4f4f4;

    --green-color: #00ae40;
    --middle-green-color: #7fffae;
    --light-green-color: #E4FAEC;
    --red-color: #C2410C;
    --middle-red-color: #FF7A5A;
    --light-red-color: #FEEEE3;
    --main-hover-color: #f7cebc;
    --hover-color: #fdeae2;

    --inline-padding: 20px;
    --main-inline-padding: 120px;
}

* {
    font-family: "Tajawal",
        system-ui,
        -apple-system,
        Segoe UI,
        Aria !important;
}

.container {
    /* width: calc(100% - 200px); */
    width: 1180px;
    margin: 0 auto;
}

@media (max-width: 1080px) {
    .container {
        width: calc(100% - 100px);
    }
}

@media (max-width: 992px) {
    :root {
        --main-inline-padding: 60px;
    }

    .container {
        width: calc(100% - 50px);
    }
}

@media (max-width: 768px) {
    :root {
        --main-inline-padding: 30px;
    }

    .container {
        width: calc(100% - 40px);
    }
}

img {
    width: 100%;
    height: 100%;
}

.border-custom {
    border: 1px solid var(--dark-muted-color);
}

.shineEffect {
    display: block;
    overflow: hidden;
    position: relative;

    &:after {
        content: '';
        top: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        animation: slide 3s infinite;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.logo {
    width: 90px;
    height: auto;
    overflow: visible;
    position: relative;
    margin-inline-end: 100px;

    & .contact-fast {
        width: 280px;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        z-index: 1001;
        padding: 15px;
        user-select: auto;
        border-radius: 10px;
        background-color: var(--light-color);
        border: 1px solid var(--light-muted-color);
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);

        & .contact-area {
            & .heading {
                font-size: 14px;
                margin-bottom: 10px;
            }

            & .childs {
                padding-inline: 15px;

                &>div {
                    font-size: 12px;
                }

                & .icon {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: center;
                    color: var(--blue-color);
                    background-color: var(--dark-muted-color);

                    & i,
                    & svg {
                        transform: scaleX(-1);
                    }
                }

                & .text {
                    color: var(--main-color);
                }

                & .contact {
                    color: var(--muted-color);
                }
            }
        }

        & .social {
            margin-top: 15px;
            text-align: center;

            & button:first-child {
                color: #4AD87F;
            }

            & button:nth-child(2) {
                color: #FF0000;
            }

            & button:nth-child(3) {
                color: #010101;
            }

            & button:last-child {
                color: #E35484;
            }

            & button {
                width: 35px;
                height: 35px;
                padding: 0;
                font-size: 16px;
                border-radius: 50%;
                background-color: var(--dark-muted-color);
                transition: all 0.3s ease;

                & a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & i,
                & svg {
                    font-size: 17px;
                }

                &:hover {
                    transform: translateY(-5px);
                    background-color: var(--dark-muted-color);
                }
            }
        }
    }

    &.active,
    &:hover {
        & .contact-fast {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

html[lang=en] {
    .logo {
        & .contact-fast {
            left: 0;
            right: auto;
        }
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    min-height: 80px;
    z-index: 999;
    box-shadow: none;
    background-color: transparent;
    transition: 0.3s ease-in-out;

    &.scrolled {
        background-color: var(--light-color);
        box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.1);
        background-image: url('../images/header-bg.png');
        background-position: center center;
        background-size: contain;
        background-repeat: repeat;
    }

    & .inner {
        width: 100%;
        height: 100%;
        margin: 0 150px 0;
        user-select: none;
        text-wrap: nowrap;
        z-index: 999;
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .navbar {
            & ul {
                gap: 0px;
            }

            & li>a {
                font-size: 16px;
                padding: 5px 15px;
            }

            & .our_services {
                position: relative;

                &>div {
                    padding: 5px;
                }

                &>div:first-child {
                    padding: 5px 15px;
                }

                & .services {
                    gap: 2px;
                    display: flex;
                    text-align: center;
                    border-radius: 15px;
                    justify-content: center;
                    flex-direction: column;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease;

                    position: absolute;
                    top: 100%;
                    left: 50%;
                    font-size: 12px;
                    overflow: hidden;
                    transform: translate(-50%, 20px);
                    color: var(--dark-color);
                    background-color: var(--light-color);
                    border: 1px solid var(--light-muted-color);
                    box-shadow: 0 0px 15px -2px rgba(0, 0, 0, 0.1);

                    & a {
                        border-radius: 12px;
                        padding: 10px 25px;
                    }

                    & a.active,
                    & a:hover {
                        color: var(--light-color);
                        background-color: var(--main-color);
                    }
                }

                &.active .services,
                &:hover .services {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, 0);
                }
            }
        }

        & .menu {
            font-size: 18px;
            cursor: pointer;
            display: none;

            &:active {
                transform: scale(0.95);
            }
        }

        & .language-selector {
            & a {
                width: 30px;
                height: auto;
                border-radius: 25px;
                padding: 0 !important;
                overflow: hidden;
                position: relative;
                transition: all 0.1s ease;

                &::after {
                    content: "";
                    width: 100%;
                    height: 200%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    background: linear-gradient(90deg, transparent 0%, var(--light-color) 50%, transparent 100%);
                    transform: translateX(-100%) translateY(-100%) rotate(45deg);
                    pointer-events: none;
                }

                &:hover {
                    transform: translateY(-2px);

                    &::after {
                        animation: shineLogo 1s ease-in-out forwards;
                    }
                }
            }
        }

        & .whatsapp {
            overflow: hidden;
            position: relative;
            padding: 7px 14px;
            transition: all 0.1s ease;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                background: linear-gradient(90deg, transparent 0%, var(--light-color) 50%, transparent 100%);
                transform: translateX(-100%) translateY(-100%) rotate(45deg);
                pointer-events: none;
            }

            &:hover {
                transform: translateY(-2px);

                &::after {
                    animation: shineWhatsapp 0.5s ease-in-out forwards;
                }
            }
        }

        & .whatsapp-link {
            font-size: 14px;

            & .icon {
                display: none;
            }
        }
    }
}

@keyframes shineLogo {

    0%,
    60% {
        transform: translateX(-100%) translateY(-100%) rotate(40deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        transform: translateX(100%) translateY(100%) rotate(40deg);
        opacity: 0;
    }
}

@keyframes shineWhatsapp {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(-45deg);
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateX(100%) translateY(100%) rotate(-45deg);
        opacity: 0;
    }
}

.btn-link {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--light-color);
}

.btn-link.main-color {
    background: var(--main-color);
}

.btn-link.light-main-color {
    background: var(--light-main-color);
}

.btn-link.primary-color {
    background: var(--primary-color);
}

.btn-link.dark-hover.active,
.btn-link.dark-hover:hover {
    background: var(--dark-color);
}

.btn-link.hover {
    position: relative;
    color: var(--dark-color);
}

.btn-link.hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 130%;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    background: var(--main-color);
    border-radius: 50px;
    transform: translate(-50%, -50%);
    transition: 0.15s linear;
}

.btn-link.hover.active,
.btn-link.hover:hover {
    color: var(--light-color);
}

.btn-link.hover.active::before,
.btn-link.hover:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.filter {
    gap: 10px;
    font-size: 12px;
    display: inline-flex;
    margin-bottom: 35px;

    & .filter-btn {
        position: relative;
        color: var(--dark-color);
        box-shadow: 0 0 1px 0px var(--muted-color);
        background-color: var(--light-color) !important;
        transition: all 0.3s ease;

        &.active {
            background-color: transparent !important;
            box-shadow: 0 0 1px 1px var(--light-main-color);
        }

        &.active::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.3;
            border-radius: 50px;
            background-color: var(--light-main-color) !important;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 1px 1px var(--light-main-color);
        }
    }
}

.languages {
    gap: 8px;
    display: flex;
}

.language-side,
.header-side,
.contact-actions,
.social-links,
.pseudo-element {
    display: none;
}

@media (max-width: 1080px) {
    .header {
        & .inner {
            margin: 0 30px 0;
        }
    }

    .logo {
        width: 50px;
        min-width: 50px;
        margin-inline-end: 70px;
    }

    .navbar {
        font-size: 14px;
    }

    .btn-link {
        padding: 5px 10px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 70px;
        min-width: 70px;

        & .contact-fast {
            & .contact-area {
                & .heading {
                    font-size: 10px;
                }

                & .childs {
                    gap: 10px;
                    padding-inline: 10px;

                    &>div {
                        font-size: 10px;
                    }

                    & .icon {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

    .header {
        & .inner {
            & .navbar {
                &>ul {
                    gap: 10px;

                    & li>a {
                        font-size: 12px;
                    }
                }
            }

            & .whatsapp-link {
                font-size: 12px;
                padding-inline: 10px;
            }
        }
    }

    .pseudo-element {
        display: block;
    }

    .header-side,
    .social-links,
    .contact-actions {
        display: flex;
    }

    .header {
        & .inner {
            & .navbar {
                width: 320px;
                height: 100svh;
                position: absolute;
                top: 0;
                right: 0;
                left: auto;
                z-index: 1001;
                transition: all 0.3s ease;
                background-color: var(--light-color);
                /* left box shadow */
                box-shadow: -4px 0 10px -4px var(--light-muted-color);
                opacity: 0;
                visibility: hidden;
                transform: translateX(100%);

                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }

            & .language-selector {
                & a {
                    width: 25px;
                }
            }

            & .language-side {
                display: block;
                width: 40px;
                height: 40px;
                margin: auto;
                overflow: hidden;
                border-radius: 50%;
                position: relative;
                transition: all 0.1s ease;

                &::after {
                    content: "";
                    width: 100%;
                    height: 200%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    background: linear-gradient(90deg, transparent 0%, var(--light-color) 50%, transparent 100%);
                    transform: translateX(-100%) translateY(-100%) rotate(45deg);
                    pointer-events: none;
                }

                &:hover {
                    transform: translateY(-2px);

                    &::after {
                        animation: shineLogo 1s ease-in-out forwards;
                    }
                }
            }

            & .menu {
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                color: var(--light-main-color);
                box-shadow: 0 0px 10px -4px var(--light-main-color);
            }

            & .languages,
            & .whatsapp {
                display: none;
            }

            & .whatsapp-link {
                padding: 0;

                & span {
                    display: none;
                }

                & .icon {
                    font-size: 16px;
                    display: block !important;
                }
            }

            & .header-side {
                padding: 15px;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0.3;
                    background-color: var(--light-main-color);
                }

                & .info {
                    position: relative;

                    & .pseudo-element-info {
                        width: 35px;
                        height: 35px;
                        border-radius: 10px;
                        position: relative;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0.2;
                            border-radius: inherit;
                            background-color: var(--main-color);
                        }

                        &::after {
                            content: '';
                            width: 30%;
                            height: 30%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            border-radius: 50%;
                            transform: translate(-50%, -50%);
                            background-color: var(--light-main-color);
                        }
                    }
                }

                & .close {
                    cursor: pointer;
                    font-size: 18px;
                    transition: all 0.2s ease;

                    &:hover {
                        color: var(--light-main-color);
                    }
                }
            }

            & .pseudo-element {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                opacity: 0.8;
                background-color: var(--main-hover-color);
                position: relative;

                &::before {
                    content: '';
                    width: 80%;
                    height: 80%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0.7;
                    border-radius: inherit;
                    transform: translate(-50%, -50%);
                    border: 2px solid var(--light-main-color);
                }

                &::after {
                    content: '';
                    width: 25%;
                    height: 25%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    background-color: var(--dark-color);
                }
            }

            & .contact-actions,
            & .social-links {
                padding: 15px 10px;

                & button {
                    width: 100%;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: all 0.3s ease;
                    position: relative;
                    z-index: 15;
                    box-shadow: 0 2px 16px -1px var(--light-muted-color);

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: -2;
                        background-color: var(--hover-color);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0.5;
                        z-index: -1;
                        border-radius: inherit;
                        border: 1px solid var(--light-main-color);
                    }

                    & a {
                        display: flex;
                        font-weight: bold;
                        align-items: center;
                        justify-content: center;
                    }

                    & i,
                    & svg {
                        font-size: 16px;
                        color: var(--dark-color);
                    }

                    &:hover {
                        transform: translateY(-2px);
                        background-color: var(--dark-muted-color);
                    }
                }
            }

            & .social-links {
                position: relative;

                &::after {
                    content: '';
                    width: calc(100% - 30px);
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    opacity: 0.2;
                    transform: translateX(-50%);
                    background-color: var(--light-main-color);
                }

                & button {
                    width: 40px;
                    height: 40px;
                    box-shadow: none;
                    border-radius: 50px;

                    & i,
                    & svg {
                        font-size: 14px;
                    }
                }
            }

            & .navbar::-webkit-scrollbar {
                width: 5px;
            }

            & .navbar::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--light-main-color);
            }

            & .navbar::-webkit-scrollbar-track {
                background: var(--light-muted-color);
            }

            & .navbar {
                overflow: hidden;

                &.scroll {
                    overflow-y: scroll;
                }

                &>ul {
                    gap: 5px;
                    width: 100%;
                    margin: auto;
                    overflow: hidden;
                    flex-direction: column;
                    padding-inline-start: 15px;
                    padding-bottom: 15px;

                    & li>.nav-link {
                        width: 100%;
                        font-size: 16px;
                        font-weight: normal;
                        border-radius: 0 10px 10px 0;
                        padding: 10px 10px 10px 0;
                        color: var(--dark-color);
                        transition: all 0.2s ease;
                        background-color: transparent;
                        position: relative;

                        & span {
                            transition: all 0.2s ease;
                        }

                        &:hover:not(.active) {
                            & span {
                                margin-inline-start: 5px;
                            }
                        }

                        &:hover:not(.active) {
                            &::before {
                                transform: translate(5px, 0);
                                opacity: 1;
                            }
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 200%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            left: auto;
                            user-select: none;
                            pointer-events: none;
                            border-radius: inherit;
                            transition: 0.15s linear;
                            transform: translate(0, 0);
                            background-color: var(--hover-color);
                        }
                    }
                }

                & .our_services {
                    flex-direction: column;
                    padding-inline-end: 25px;
                    align-items: stretch !important;

                    &>div {
                        width: 100%;
                        padding: 10px 10px 10px 0;
                        align-items: center !important;
                        justify-content: space-between !important;
                    }

                    & .services {
                        width: 100%;
                        max-height: 0;
                        font-size: 14px;
                        overflow: hidden;
                        position: relative;
                        background: transparent;
                        opacity: 1;
                        visibility: visible;
                        margin: 0;
                        padding: 5px 25px 0 0;
                        border: none;
                        box-shadow: none;
                        transition: all 0.2s ease;

                        & a {
                            gap: 5px;
                            width: 100%;
                            font-size: 13px;
                            text-align: start;
                            padding: 10px 15px;
                            display: inline-flex;
                            align-items: center;
                            color: var(--dark-color);

                            &:last-child {
                                border-bottom: none;
                            }

                            & span {
                                transition: all 0.2s ease;
                            }

                            &.active,
                            &:hover {
                                background-color: var(--hover-color);
                                color: var(--dark-color);

                                & span {
                                    margin-inline-start: 5px;
                                }
                            }
                        }
                    }

                    &.active .services {
                        max-height: 250px;
                    }

                    & .fa-chevron-down {
                        transition: 0.2s ease;
                        font-size: 12px;
                    }

                    &.active .fa-chevron-down {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .btn-link {
        padding: 5px 10px;
    }

    html[lang=en] {
        .header {
            & .inner {
                & .navbar {
                    left: 0;
                    right: auto;
                    transform: translateX(-100%);
                    /* right box shadow */
                    box-shadow: 4px 0 10px -4px var(--light-muted-color);

                    &.active {
                        transform: translateX(0);
                    }

                    &>ul {
                        & li>.nav-link {
                            &::before {
                                left: -40px;
                                right: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        padding-inline: 20px;
    }

    .btn-link {
        font-size: 12px;
        padding: 5px 10px;
    }
}

@media (max-width: 768px) {
    .header {
        & .inner {
            margin: 0;
        }
    }

    .logo {
        width: 50px;
        min-width: 50px;

        & .contact-fast {
            width: 240px;
            padding: 10px;

            & .contact-area {
                & .childs {
                    gap: 10px;
                    padding-inline: 10px;

                    & .icon {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            & .social {
                & button {
                    width: 30px;
                    height: 30px;

                    & i,
                    & svg {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .btn-link {
        font-size: 12px;
        padding: 5px 10px;
    }
}

@media (max-width: 425px) {
    .header {
        & .inner {
            margin: 0 20px 0;
        }
    }

    .logo {
        width: 50px;
        min-width: 50px;
    }

    .header {
        padding-inline: 0;
    }
}

.title-badge {
    position: relative;
    padding: 2px 10px;
    color: var(--light-color);
}

.title-badge::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewX(-12deg);
    border-radius: 14px;
    background: var(--light-main-color);
    box-shadow: 0 10px 26px rgba(0, 0, 0, .12);
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    position: relative;
    z-index: 500;
}

.section .title {
    font-size: 18px;
    margin-bottom: 20px;

    & .title-badge {
        padding: 5px 10px;
    }
}

.section .description {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--muted-color);
}

@media (max-width: 992px) {
    .section .title {
        font-size: 16px;
    }

    .section .description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .section .title {
        font-size: 12px;
    }

    .section .description {
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    .section .description {
        padding-inline: 10px;
    }
}

.fade-up,
.fade-down {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.fade-up {
    transform: translateY(-20px);
    opacity: 1;
}

.fade-down {
    transform: translateY(20px);
    opacity: 0;
}

/* Start Footer Section */
footer {
    position: relative;
    /* min-height: 600px; */

    &::before {
        content: '';
        width: 70%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -2;
        transform: translateX(-50%);
        background-image: url('../images/map.png');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        background-color: var(--dark-color);
    }

    & .inner {
        width: 70%;
        margin: auto;
        padding-block: 50px 30px;
        color: var(--light-color);

        & .footer-header {
            padding-bottom: 30px;
            border-bottom: 1px solid var(--light-muted-color);

            & .description {
                width: 80%;
                font-size: 18px;
                text-wrap: balance;
            }

            & .social {
                text-wrap: nowrap;

                & button {
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    border-radius: 50%;
                    transition: all 0.3s ease;

                    &:hover {
                        transform: translateY(-5px);
                        background-color: var(--light-main-color) !important;
                    }

                    & a {
                        display: flex;
                        justify-content: center
                    }
                }
            }
        }

        & .footer-body {
            margin-block: 30px 50px;

            & .child {
                line-height: 1.8;

                & .image {
                    width: 50px;
                    height: 50px;
                    border-radius: 12px;
                    overflow: hidden;

                    & img {
                        object-fit: cover;
                    }
                }

                & .text {
                    & .title {
                        color: var(--light-main-color);
                    }
                }

                & ul li a {
                    position: relative;
                    padding-bottom: 2px;

                    &::after {
                        content: '';
                        width: 0;
                        height: 2px;
                        bottom: 0;
                        right: 30%;
                        position: absolute;
                        transition: all 0.3s ease;
                        background-color: var(--main-color);
                    }

                    &:hover::after {
                        width: 100%;
                        right: 0;
                    }
                }

                & ul li a .icon {
                    padding-inline-end: 10px;
                }
            }
        }

        /* & .footer-footer {} */
    }
}

@media (max-width: 992px) {
    footer {
        & .inner {
            width: 80%;

            &::before {
                width: 80%;
            }

            & .footer-header {
                text-align: center;
                flex-direction: column;
            }

            & .footer-body {
                gap: 40px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 600px) {
    footer {
        & .inner {
            width: 90%;

            &::before {
                width: 90%;
            }

            & .footer-body {
                gap: 30px;

                & .child>div {
                    justify-content: center;
                }

                & ul li a {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    footer {
        & .inner {
            text-align: center;

            & .footer-header {
                & .description {
                    width: 95%;
                    font-size: 14px;
                }

                & .social {
                    gap: 15px;

                    & button {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            & .footer-body {
                display: none;
                grid-template-columns: repeat(1, 1fr);

                & .child {
                    & .image {
                        width: 40px;
                        height: 40px;
                    }

                    & ul li a {
                        font-size: 13px;
                    }
                }
            }

            & .footer-footer {
                width: 90%;
                margin: 20px auto 0;
                color: var(--muted-color);
                flex-direction: column-reverse;

                & .description {
                    color: var(--light-color);
                }
            }
        }
    }
}

/* End Footer Section */