.work-sections {
    margin-top: 130px;

    & .main-content {
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 0;
            z-index: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
            pointer-events: none;
        }
    }
}

.work-sections .banner img {
    width: 100%;
    height: 90svh;
    object-fit: cover;
}

.work-sections .back {
    padding: 10px 0;
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 16px;
    border-radius: 25px;
    border: 1px solid var(--light-color);

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-color: var(--light-color);
        opacity: 0.1;
    }
}

.work-sections .main-content .info {
    width: calc(100% - 400px);
    position: absolute;
    bottom: 0;
    right: 200px;
    padding-block: 30px;
    color: var(--light-color);

    & .heading {
        font-size: 36px;
        font-weight: bold;
        border-bottom: 1px solid #ffffff50;
    }

    & .details {
        color: var(--light-muted-color);
        margin-top: 10px;

        & .item {
            width: 250px;
        }
    }
}